
<!-- Footer - bloc-10 -->
<div class="bloc bgc-languid-lavender l-bloc" id="bloc-10">
	<div class="container bloc-sm">
		<div class="row bgc-languid-lavender">
			<div class="col-sm-12 col-md-6 col-md-offset-3">
				<div class="col-xs-3">
					<div class="text-center">
						<a class="social" href="{{ 'home'|page }}"><span class="fa fa-twitter icon-md"></span></a>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="text-center">
						<a class="social" href="{{ 'home'|page }}"><span class="fa fa-facebook icon-md"></span></a>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="text-center">
						<a class="social" href="{{ 'home'|page }}"><span class="fa fa-dribbble icon-md"></span></a>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="text-center">
						<a class="social" href="{{ 'home'|page }}"><span class="fa fa-instagram icon-md"></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Footer - bloc-10 END -->
