
<!-- bloc-0 -->
<div class="bloc bgc-white-smoke l-bloc" id="bloc-0">
	<div class="container bloc-sm">
		<nav class="navbar row">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ 'home'|page }}">L.A.B. Sites</a>
				<button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
					<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse navbar-1">
				<ul class="site-navigation nav navbar-nav">
					<li>
						<a href="{{ 'home'|page }}">Home</a>
					</li>
					<li>
						<a href="https://medium.com/@caleb.a.bertrand/starting-a-video-game-day-1-92fe846d7de0" target="_blank">Blog</a>
					</li>
					<li>
						<a href="{{ 'pricing'|page }}">Pricing</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>
<!-- bloc-0 END -->
