@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Lato');

@keyframes opacity {
    from {opacity: 0.8;}
    to {opacity: 1;}
}
@keyframes greytowhite {
  from {color: lightgrey;}
  to {color: white;}
}
* {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;

  color: white;
  z-index: 0;
}

body {
  background-color: black;
  margin: 0px;
  padding: 0px;
}

.blue {
  color: #099;
}

#blog {
  position: fixed;
  top: 0px;
  left: 50px;
  padding: 4px;
  max-width: 350px;
  background-color: #099;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 1.1em;
  font-family: "Orbitron", "sans-serif";
  z-index: 2;
}
#blog a {
  color: lightgrey;
}
#blog a:visited {
  color: lightgrey;
}
#blog a:hover {
  animation-name: greytowhite;
  animation-duration: 0.8s;
  color: white;
}


.div-section {
  padding: 15px;
  width: 100%;
  min-height: 300px;
  background-color: #222;
  font-family: "Lato", "sans-serif";
  font-size: 1.05em;
  overflow: auto;
}
.div-section p {
  float: left;
  width: 64%;
  padding: 5px;
}
.div-section ul {
  float: left;
  width: 64%;
}
.div-section li {
  color: #099;
  margin-bottom: 7px;
}
.div-section li span {
  color: white;
}
.div-section aside {
  border-left: solid grey 2px;
  padding: 5px;
  margin-left: 65%;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .div-section aside {
        clear: both;
        margin-left: 0px;
    }
}
.div-section h1 {
  font-family: "Orbitron", "sans-serif";
  text-align: center;
}

#image-1 {
  background-image: url('imgs/coding.jpg');
}
#image-2 {
  background-image: url("imgs/game.JPG");
}
@media only screen and (min-width: 500px) {
    /* For mobile phones: */
    #image-1 {
      background-image: url("imgs/coding-large.jpg");
    }
    #image-2 {
      background-image: url("imgs/game-large.jpg");
    }
}
@media not handheld {
    .background-image {
      background-attachment: fixed;
    }
}
.background-image {
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 85vh;
}

a {
  text-decoration: none;
  color: #099;
}
a:visited {
  color: #099;
}
a:hover {
 color: lightgrey;
}

/* Home Page */

#main-name {
  position: absolute;
  background-color: #111;
  left: calc(50vw - (18% / 2));
  right: calc(50vh - (18% / 2));
  top: 37vh;
  width: 18%;
  min-height: 160px;
  border-radius: 15px;
  border: solid rgb(50, 50, 50) 5px;
  padding: 5px;
  text-align: center;
  color: white;
  font-family: "Orbitron", "sans-serif";
  z-index: 1;
}
#scroll-down {
  position: absolute;
  width: 83px;
  height: 83px;
  border-radius: 50%;
  left: calc(50vw - (83px / 2));
  right: calc(50vh - (83px / 2));
  top: 73vh;
  background-image: url("imgs/down-arrow.png");
  background-repeat: no-repeat;
  background-position: 4px 10px;
  opacity: 0.8;
  font-family: "Orbitron", "sans-serif";
  z-index: 1;
}
#scroll-down:hover {
  opacity: 1;
  animation-name: opacity;
  animation-duration: 1.2s;
}
@media screen and (max-width: 991px) {
     /* start of large tablet styles */
    #main-name {
      font-size: 0.97em;
      width: 20%;
      left: calc(50vw - (20% / 2));
      right: calc(50vh - (20% / 2));
    }
}
@media screen and (max-width: 767px) {
     /* start of medium tablet styles */
     #main-name {
      font-size: 0.88em;
      width: 24%;
      left: calc(50vw - (22% / 2));
      right: calc(50vh - (22% / 2));
    }
}
@media screen and (max-width: 439px) {
     /* start of phone styles */
     #main-name {
      font-size: 0.84em;
      width: 36%;
      left: calc(50vw - (34% / 2));
      right: calc(50vh - (34% / 2));
    }
}
@media screen and (max-height: 399px) {
  #scroll-down {
    display: none;
  }
}
canvas {
  width: 100vw !important;
  height: 100vh !important;
}

#first {
  border-top: solid #099 15px;
}
#second {
  border-top: solid #090 15px;
}
#third {
  border-top: solid #900 15px;
}