@import url('https://fonts.googleapis.com/css?family=Orbitron');

@keyframes expand {
    from {width: 60px; height: 60px;}
    to {width: 84px; height: 84px;}
}
* {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;

  color: white;
  z-index: 0;
}

body {
  background-color: black;
  margin: 0px;
  padding: 0px;
}

.blue {
  color: #099;
}

#blog {
  position: fixed;
  top: 0px;
  left: 50px;
  padding: 4px;
  max-width: 350px;
  background-color: #099;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: lightgrey;
  font-size: 1.1em;
  font-family: "Orbitron", "sans-serif";
  z-index: 1;
}

.div-section {
  padding: 20px;
  width: 100%;
  background-color: #222;
}
.div-section p {
  float: left;
  width: 64%;
  padding: 15px;
}
.div-section aside {
  border-left: solid grey 2px;
  margin-left: 64%;
  padding: 15px;
}
.div-section h1 {
  font-family: "Orbitron", "sans-serif";
  text-align: center;
}

a {
  text-decoration: none;
  color: lightgrey;
}
a:visited {
  color: lightgrey;
}
a:hover {
 color: white;
}

/* Home Page */

#main-name {
  position: relative;
  background-color: #111;
  margin: auto;
  margin-top: 35vh;
  width: 12%;
  min-width: 125px;
  border-radius: 15px;
  border: solid rgb(50, 50, 50) 5px;
  text-align: center;
  color: white;
  font-family: "Orbitron", "sans-serif";
  z-index: 1;
}
#scroll-down {
  position: relative;
  width: 83px;
  height: 83px;
  border-radius: 50%;
  margin: auto;
  margin-top: 17vh;
  background-image: url("imgs/down-arrow.png");
  background-repeat: no-repeat;
  background-position: 4px 10px;
  z-index: 1;
}
#scroll-down:hover {
  background-color: rgba(255, 255, 255, 0.2);
  animation-name: expand;
  animation-duration: 0.3s;
}

#background-canvas-holder {
  position: absolute;
  top: 0px;
  left: 0px;
}

#first {
  margin-top: 6.2vh;
  border-top: solid #099 15px;
}
#second {
  border-top: solid #090 15px;
}