<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Website Development and Design | Caleb Bertrand</title>
		<meta charset="utf-8">
		<meta name="description" content="Web dev portfolio site for Caleb Bertrand, freelancer.">
		<meta name="author" content="Caleb Bertrand">
		<meta name="keywords" content="Make, Build, Website, Freelance, Web App">
		<meta name="viewport" content="width=device-width, initial-scale=0.85">
    </head>
    <body>

        <section id="hero" class="fullscreen"> 
            <h1 id="intro" class="center-abs terminal"></h1>
        </section>
        
        <header data-sticky-container>
            <div data-sticky data-margin-top="0" data-top-anchor="hero:bottom" class="menu grid-x sticky">
                <!--     menu items must have ids of idOfLinkedElm-menu-item     -->
                <div id="portfolio-menu-item" class="align-c cell small-12 medium-4 button-slide-animation-inverted active" data-smooth-scroll><h3><a href="#portfolio">Portfolio</a></h3></div>
                <div id="stack-menu-item" class="align-c cell small-12 medium-4 button-slide-animation-inverted" data-smooth-scroll><h3><a href="#stack">Stack</a></h3></div>
                <div id="contact-menu-item" class="align-c cell small-12 medium-4 button-slide-animation-inverted" data-smooth-scroll><h3><a href="#contact">Contact</a></h3></div>
            </div>
        </header>

<!--        <div class="popup">Weren't looking for the web dev Caleb? <a class="contrast" href="">Click Here for the Tutoring Caleb.</a></div>-->

        <section id="portfolio">
                <div class="slide" style="background-image: url(<%= require('./assets/imgs/Portfolio/AFTO.png') %>)">
                    <div class="data">
                        <h3 class="terminal"><strong class="contrast">ALL FOR THE ONE</strong> - Fundraising Campaign Landing Page</h3>
                    </div>
                </div>
                <div class="slide" style="background-image: url(<%= require('./assets/imgs/Portfolio/BTB.png') %>)">
                    <div class="data">
                        <h3 class="terminal"><strong class="contrast">BIEL TUNNEL BOATS</strong> - California Based Speedboat Startup</h3>
                    </div>
                </div>
                <div class="slide" style="background-image: url(<%= require('./assets/imgs/Portfolio/MTTA.png') %>)">
                    <div class="data">
                        <h3 class="terminal"><strong class="contrast">MONTESORRI TEACHER ASIA</strong> - Singapore Based Online Educational Aid Startup</h3>
                    </div>
                </div>
                <div class="slide" style="background-image: url(<%= require('./assets/imgs/Portfolio/SoundVisualization.png') %>)">
                    <div class="view">
                        <a href="https://soundprogram.herokuapp.com/" target="_blank">
                            <img src="<%= require('./assets/imgs/icons/link.png') %>" width="35px">
                            <h3 class="terminal">VIEW</h3>
                        </a>
                    </div>
                    <div class="data">
                        <h3 class="terminal"><strong class="contrast">DYNAMIC MUSIC VISUALIZATION</strong> - HTML5 Canvas Project For Visualizing Sound</h3>
                    </div>
                </div>
                <div class="slide" style="background-image: url(<%= require('./assets/imgs/Portfolio/TCF.png') %>)">
                    <div class="data">
                        <h3 class="terminal"><strong class="contrast">TEMECULA CHRISTIAN FELLOWSHIP</strong> - California Based Church Landing Page</h3>
                    </div>
                </div>
        </section>

        <section id="stack" class="fullscreen">
            <div id="stack-card-container" class="grid-container">

            </div>
            <div class="grid-container terminal-box">
                <h2 class="terminal typed">Other Experience:</h2>
                <p>
                <ul>
                    <li><strong>Cross-Cultural Experience:</strong> I've spent seven years in Hong Kong, as well as volunteered in Romania, Mexico, and Thailand.</li>
                    <li><strong>Data Analysis:</strong> I worked eleven months at Mistras, Inc. as a Data Analyst for their mechanical integrity team. It involved validating data from NDT testing in oil rigs, as well as communicating with CAD techs and PMs.</li>
                    <li><strong>Teaching:</strong> I have tutored English, Calculus, and Electrical Engineering with college-level students. In the case of English, the students were ESL.</li>
<!--                    <li><strong>National Society of Leadership Success:</strong> I've taken  </li>-->
                </ul>
                </p>
                <strong class="button button-slide-animation"><a href="<%= require('./assets/Caleb-Bertrand-1.pdf') %>" target="_blank">Download Resume</a></strong>
            </div>
        </section>

        <section id="contact" class="fullscreen align-center align-middle">
            <div class="contact-container">
                <h1 class="terminal typed">Contact Me</h1>
                <p>
                    Pricing for freelance projects are entirely on a case by case basis. <br>
                    I'm available on these networks. If you would like my phone number or email, please get in touch via one of them first.
                </p>
                <div class="socials align-spaced">
                    <span data-tooltip tabindex="1" class="bottom" title="Twitter"><a href="https://twitter.com/CalebBertrand2" target="_blank"><img src="<%= require('./assets/imgs/icons/twitter.png') %>" alt="twitter logo"></a></span>
                    <span data-tooltip tabindex="1" class="bottom" title="Facebook"><a href="https://www.facebook.com/caleb.bertrand.75" target="_blank"><img src="<%= require('./assets/imgs/icons/facebook.png') %>" alt="facebook logo"></a></span>
                    <span data-tooltip tabindex="1" class="bottom" title="Indeed"><a href="https://my.indeed.com/p/jsv8v5e" target="_blank"><img src="<%= require('./assets/imgs/icons/indeed.png') %>" alt="indeed logo"></a></span>
                    <span data-tooltip tabindex="1" class="bottom" title="UpWork"><a href="https://www.upwork.com/freelancers/~013c377dd7e52aa950" target="_blank"><img src="<%= require('./assets/imgs/icons/upwork.png') %>" alt="upwork logo"></a></span>
                </div>
            </div>
        </section>


        <footer>
            <h6>Icons By <a href="https://www.flaticon.com/authors/freepik"><strong>FreePik</strong></a> and
                <a href="https://www.flaticon.com/authors/pixel-perfect"><strong>Pixel Perfect</strong></a> at
                <a href="https://www.flaticon.com"><strong>FlatIcon</strong></a>
                | Handcoded by none other than <strong>Me</strong> :) </h6>
        </footer>
    </body>
</html>