#hero {
    @include backgroundImage('../assets/imgs/white_IDE.jpg', rgba(0, 0, 0, .5));
    background-attachment: fixed;
}

#intro {
    font-size: 50px;
    text-align: center;
    visibility: collapse;
    @include textShadow($shadow-color);
    color: lighten($dark-gray, 5%);

    @include breakpoint(medium down) {
        font-size: 35px;
        width: 85%;
    }
}