.menu {
    position: relative;
    width: 100%;
    @include boxShadow();
    .cell {
        padding: 20px;

        a {
            color: $dark-gray;
        }

        &:hover, &.active {
            a {
                color: $white;
            }
        }
    }
}