@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@use 'sass:color';

@mixin gradientBackground() {
  background-image: linear-gradient(to bottom right, map-get($foundation-palette, 'secondary'), map-get($foundation-palette, 'primary'));
}

* { box-sizing: border-box; }

.fullscreen {
    width: 100%;
    min-height: 100vh;
}

/** Structure **/

section {
  padding: 10vh 25px;
  overflow: auto;
}

/** Text **/

.contrast {
  //background-color: map-get($foundation-palette, 'secondary');
  @include gradientBackground();
  color: $white;
  padding-left: 10px;
  padding-right: 10px;
}

.align-c {
  text-align: center;
}

.terminal { // For terminal style text
  font-family: 'Teko', sans-serif;
  letter-spacing: 2px;
}
.t-caret {
  margin-left: 10px;
}
del {
  text-decoration: none;
  .contrast {
    background-color: map-get($foundation-palette, 'secondary');
    color: $white;
  }
}

.terminal-box {
  background-color: $dark-gray;
  color: $white;
  border: 5px solid;
  border-image: linear-gradient(to bottom right, map-get($foundation-palette, 'secondary'), map-get($foundation-palette, 'primary')) 20% stretch;

  padding: $card-padding * 1.5;

  .button {
    background-color: $white;
    color: $dark-gray;
    a {
      color: $dark-gray;
    }

    &:hover {
      background-color: darken($white, 15%);
    }
  }
}

/** Popups **/

$border-radius: 0px;
$shadow-color: rgba(0, 0, 0, 0.3);

.popup {
  border-radius: $border-radius;
  padding: 8px;
  box-shadow: 0px 0px 20px 5px $shadow-color;
  background-color: lighten($black, 5%);
  z-index: 3;
  //display: none;

  &.bottom-right {
    position: fixed;
    bottom: 25px;
    right: 25px;

    @include breakpoint(small down) {
      left: 25px;
    }
  }
}

/** Centering/Floats **/ 

.center-v {
  @include vertical-center;
}
.center-h {
  @include horizontal-center;
}
.center-abs {
  @include absolute-center;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}